.main {
    padding-inline: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:4rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    padding: center;
    background-color: rgba(246, 246, 246, 1);
    border-radius: 15px;
    position: relative;
    max-width: 1440px;
    margin: auto;
}

.main img {
    width: 340px;
    height: 340px;
    border-radius: 15px;
}

.main p {
    position: absolute;
    font-size: 15px;
    color: aliceblue;
    font-weight: 500;
    padding-left: 5px;
    padding-top: 18rem;
}
