.apropos-button {
    margin-bottom: 2rem;
}

.apropos-writing {
    margin: auto;
    color : white; 
    font-size: 20px;
    font-weight: 400;
    background-color: #ff6060;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 70%;
    position: relative;
}

.apropos-writing i {
    transition: transform 0.5s ease-in-out;
}

.apropos-writing i:hover {
    cursor: pointer;
}

.apropos-writing i.rotated {
    transform: rotate(180deg);
}

.apropos-button-content {
    margin: auto;
    background-color: rgba(169 169 169 / 20%);
    color: #ff6060;
    border-radius: 7px;
    padding-block: 0.7rem;
    animation: slidein 1s ease-in-out;
    max-width: 71%;
    list-style-type: none;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.apropos-button-content.visible {
    max-height: 100px;
    margin-top: 10px;
    opacity: 1;
}

@keyframes slidein {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes slideout {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateY(-100%);
    }
}


@media (max-width: 768px) {
    .apropos-writing {
        max-width: 90%;
    }

    .apropos-button-content {
        max-width: 92%;
    }
}