$background-color_1: rgb(246, 246, 246);
$background-color_2: white;

.grid {
	background-color: $background-color_1;
	max-width: auto;
	margin: auto;
	padding: 1rem;
	min-height: 50vh;
	border-radius: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 2rem;
	box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.3);
}
@media (max-width: 768px) {
	.grid {
		justify-content: center;
		background-color: $background-color_2;
	}
}
