/**Description**/

.description-equipement {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    overflow: hidden;
    margin-bottom: 3rem;
}

.flat-description p {
    margin-block: 0;
    padding-left: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flat-description i {
    padding-right: 1rem;
}

.description-title {
    background-color: #ff6060;
    color: white;
    padding-block: 0.7rem;
    border-radius: 7px;
    flex-basis: 100%;
}

.description-title i:hover {
    cursor: pointer;
}

.description-content {
    background-color: rgba(169 169 169 / 20%);
    color: #ff6060;
    border-radius: 7px;
    padding-block: 0.7rem;
    animation: slidein 1s ease-in-out;
    flex-basis: calc(50% - 5px);
    margin-right: 5px;
}


/**Equipement**/
.flat-equipement p {
    margin-block: 0;
    padding-left: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flat-equipement i {
    padding-right: 1rem;
}

.equipement-title {
    background-color: #ff6060;
    color: white;
    padding-block: 0.7rem;
    border-radius: 7px;
}

.equipement-content {
    background-color: rgba(169 169 169 / 20%);
    color: #ff6060;
    border-radius: 7px;
    padding-block: 0.7rem;
    animation: slidein 1s ease-in-out;
}


@keyframes slidein {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideout {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateY(-100%);
    }
}

.description-title, .equipement-title {
    display: flex;
}

@media (max-width: 425px) {
    .description-equipement {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}