/**Description**/

.description-equipement {
    display: flex;
    gap: 2rem;
    overflow: hidden;
    margin-bottom: 3rem;
}

.flat-description {
    width: 50%;
}

.flat-description p {
    margin-block: 0;
    padding-left: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.flat-description i {
    padding-right: 1rem;
}

.description-title {
    background-color: #ff6060;
    color: white;
    padding-block: 0.7rem;
    border-radius: 7px;
    flex-basis: 100%;
}

.description-title i:hover {
    cursor: pointer;
}

.description-content {
    background-color: rgba(169 169 169 / 20%);
    color: #ff6060;
    border-radius: 7px;
    padding-block: 0.7rem;
    animation: slidein 1s ease-in-out;
    margin-right: 5px;
    list-style-type: none;
    padding-left: 1rem;
    padding-bottom: 1rem;
}


@keyframes slidein {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes slideout {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
    }
}

@media (max-width: 768px) {
    .description-equipement {
        display: flex;
        flex-direction: column;
    }

    .flat-description {
        width: 100%;
    }
}