a {
    text-decoration: none;
    color: #ff6060;
}

.navbar {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 0 2rem;
    color: #ff6060;
    font-family: 'Roboto' sans-serif;
    font-weight: 700;
    margin-bottom: 2rem;
}

.navbar-logo {
    margin-right: auto;
}

@media (min-width: 768px) {
    .navbar {
        margin: 1rem;
        padding: 1rem;
        max-width: auto;
    }

    .navbar-logo {
        height: 100px;
    }
}