a {
    text-decoration: none;
    color: #ff6060;
    font-size: 25px;
    font-weight: 400;
}

.navbar {
    display: flex;
    gap: 2rem;
    align-items: center;
    color: #ff6060;
    font-family: 'Roboto' sans-serif;
    font-weight: 700;
    margin-bottom: 2rem;
    max-width: 1440px;
    margin: auto;
}

.navbar-logo {
    margin-right: auto;
}

@media (max-width: 425px) {

    .navbar {
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-between;
    }

    .navbar img {
        max-width: 150px;
    }

    a {
        font-size: 15px;
    }
}