/**Header (Titre appart, localisation, tag, Nom et Etoiles notation**/
.flat-title h1 {
    font-weight: 500;
    
}

.flat-title h2 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 0.5em;
    margin-bottom: 0;
}

.flat-tag-flex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 130px));
    text-align: center;
    gap: 0.5rem;
    margin-top: 0.2em;
    margin-top: 0.5rem;
}

.flat-tag-flex {
    border: 1px solid #ff6060;
    background-color: #ff6060;
    color: white;
    border-radius: 10px;
    padding: 0.2em 2em;
    display: flex;
}

.flat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.flat-owner-badge img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.flat-badge-flex {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-top: 1rem;
}

.flat-badge-flex h3 {
    display: flex;
    justify-content: flex-end;
    margin-block: 0;
}

h3 {
    font-weight: 500;
}

.flat-owner-stars {
    padding-top: 2rem;
    font-size: 30px;
}

@media (max-width: 425px) {
    .flat-header {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5rem;
    }

    .flat-owner {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        gap: 11rem;
        font-size: 10px;
        margin-bottom: 2%;
    }

    .flat-owner-stars i {
        font-size: 15px;
    }

    .flat-owner-stars {
        display: flex;
        align-items: center;
    }

    .flat-tag-flex {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 80px;
    }
 }