/**Header (Titre appart, localisation, tag, Nom et Etoiles notation**/
.flat-title h1 {
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0.5rem;
}

.flat-title h2 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 0.5em;
    margin-bottom: 0;
}

.flat-tag {
    list-style-type: none;
    padding-left: 0;
    max-width: 100%;
}

.flat-tag-flex li {
    border: 1px solid #ff6060;
    background-color: #ff6060;
    color: white;
    border-radius: 12px;
    padding: 0.2em 1em;
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 0.5rem;
}

.flat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.flat-owner-badge img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.flat-badge-flex {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-top: 1rem;
}

.flat-badge-flex h3 {
    display: flex;
    justify-content: flex-end;
    margin-block: 0;
}

h3 {
    font-weight: 500;
}

.flat-owner-stars {
    padding-top: 1rem;
    font-size: 10px;
    gap: 1rem;
}


@media (max-width: 425px) {
    .flat-header {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5rem;
    }

    .flat-owner {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        gap: 12rem;
        font-size: 10px;
        margin-bottom: 2%;
    }

    .flat-owner-stars i {
        font-size: 15px;
        display: flex;
        align-items: center;
    }

    .flat-owner-stars {
        display: flex;
        align-items: center;
    }

    .flat-title {
        width: 100%;
    }

    .flat-title h1 {
        margin-top: 0rem;
        margin-bottom: 0;
    }

    .flat-title h2 {
        margin-top: 0.5rem;
    }

 }